<div class="container-fluid">

    <div class="mt-20">

        <mat-card class="width-card">
            <div class="painelTitulo">
                <div class="spaceBetween">
                    <div class="ms-2">{{titulo}}</div>
                    <button mat-mini-fab matTooltip="Incluir" color="#FCAF17" aria-label="">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <app-formas-pagtodetalhe [columnsGrid]="colGrid" [columnsHeader]="colHeader"
                [dataGrid]="dadosFrmPagto"></app-formas-pagtodetalhe>

            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>

    </div>
</div>