
<div class="form800">

    
 <table mat-table [dataSource]="dataGrid" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container *ngFor="let colsGrid of columnsHeader" matColumnDef="{{colsGrid}}">
        <th mat-header-cell *matHeaderCellDef> {{colsGrid}} </th>
        <td mat-cell *matCellDef="let element"> {{element[colsGrid]}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let element">
            <app-buttom-plus [btns]="cfgBtnPlus()" 
                             [chaveConsulta]="element.id" 
                             (eventoConsultar)="consultarFormaPagto($event)"
                             (eventoEditar)="editarFormaPagto($event)"
                             (eventoExcluir)="excluirFormaPagto($event)">
            </app-buttom-plus>
            

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsGrid"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsGrid;"></tr>
</table>


    
</div>

