
<form>

    <div class="sidebar">
        <ul>
            <li class="logo">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-apple-whole"></i>
                    </span>
                    <span class="text">{{TituloMenu}}</span>
                </a>
            </li>
            <li>
                <a routerLink="/frmPagto">
                    <span class="icon">
                        <mat-icon fontIcon="payments"></mat-icon>
                    </span>
                    <span class="text">Formas de Pagamento</span>
                </a>
            </li>
            <li>
                <a routerLink="/estadoCliente">
                    <span class="icon">
                        <mat-icon fontIcon="settings_accessibility"></mat-icon>
                    </span>
                    <span class="text">Estado do Cliente</span>
                </a>
            </li>
            <li>
                <a routerLink="/cliente">
                    <span class="icon">
                        <mat-icon fontIcon="person"></mat-icon>
                    </span>
                    <span class="text">Cliente</span>
                </a>
            </li>
            <li>
                <a routerLink="/boleto">
                    <span class="icon">
                        <mat-icon fontIcon="currency_exchange"></mat-icon>
                    </span>
                    <span class="text">Boletos</span>
                </a>
            </li>
        </ul>
    </div>
    

</form>
