html, body {
    height: 100%;
    margin: 0;
  }
  
  .app {
    height: 100%;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: 300px 1fr;
  }
  
  header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16);
    grid-column: 1/-1;
    background: linear-gradient(45deg, #0F0B38, #012653);
  }
  
  aside {
    background-color: #ffffff;
  }