<div class="text-center bg-primary">
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
    <div class="row bg-warning text-center">
        <div class="col-md-1">1</div>
        <div class="col-md-5">5</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">3</div>
    </div>
</div>