/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.painelTitulo {
    background: #FCAF17;
    border-radius: 20px 20px 0px 0px;
    height: 40px;
    max-height: 40px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7px 10px;
}

.painelTituloModal {
    background: #FCAF17;
    border-radius: 10px ;
    height: 40px;
    max-height: 40px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7px 10px;
}


.form600 {
    min-width: 600px;
}

.form700 {
    min-width: 600px;
}

.form800 {
    min-width: 800px;
}